.card {
    width: 20rem;
    margin: 0rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 1px solid #83828250;
}

.myImg {
    height: 197px;
}
.card-title {
    font-size: 18px !important; /* Réduisez la taille de la police pour Card.Title */
}

.card-subtitle {
    font-size: 14px !important; /* Réduisez la taille de la police pour Card.Subtitle */
}